<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto"
    package="jp.co.osstech.jeidreader">
  <uses-permission android:name="android.permission.NFC" />
  <uses-feature android:name="android.hardware.nfc" />
  <application
      android:allowBackup="false"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      tools:ignore="LockedOrientationActivity">
    <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
        android:name=".INMenuActivity"
        android:label="@string/in_menu"
        android:screenOrientation="portrait">
    </activity>
    <activity
        android:name=".INReaderActivity"
        android:label="@string/in_reader"
        android:screenOrientation="portrait">
    </activity>
    <activity
        android:name=".INViewerActivity"
        android:label="@string/in_viewer"
        android:screenOrientation="portrait">
    </activity>
    <activity
        android:name=".JPKICertSelectActivity"
        android:label="@string/show_cert"
        android:screenOrientation="portrait">
    </activity>
    <activity
        android:name=".JPKICertReaderActivity"
        android:label="@string/show_cert"
        android:screenOrientation="portrait">
    </activity>
    <activity
        android:name=".JPKICertViewerActivity"
        android:label="@string/show_cert_vewer"
        android:screenOrientation="portrait">
    </activity>
    <activity
        android:name=".JPKISignActivity"
        android:label="@string/sign"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize">
    </activity>
    <activity
        android:name=".PinStatusActivity"
        android:label="@string/pinstatus"
        android:screenOrientation="portrait">
    </activity>
    <activity
        android:name=".INTestActivity"
        android:label="@string/in_test"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize">
    </activity>
    <activity
        android:name=".DLReaderActivity"
        android:label="@string/dl_reader"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize">
    </activity>
    <activity
        android:name=".DLViewerActivity"
        android:label="@string/dl_viewer"
        android:screenOrientation="portrait">
    </activity>
    <activity
        android:name=".EPReaderActivity"
        android:label="@string/ep_reader"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize">
    </activity>
    <activity
        android:name=".EPViewerActivity"
        android:label="@string/ep_viewer"
        android:screenOrientation="portrait">
    </activity>
    <activity
        android:name=".RCReaderActivity"
        android:label="@string/rc_reader"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize">
    </activity>
    <activity
        android:name=".RCViewerActivity"
        android:label="@string/rc_viewer"
        android:screenOrientation="portrait">
    </activity>
  </application>
</manifest>
