<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">
  <uses-permission android:name="android.permission.NFC" />
  <uses-permission android:name="android.permission.CAMERA" />
  <!-- ML Kitのテレメトリ送信基盤(com.google.android.datatransport)がマージしてくる
       ネットワーク権限を打ち消す。OCRは端末内で完結し、モデル取得はGoogle Play
       開発者サービスのプロセスが行うため、アプリ自身がネットワークへ出る必要はない。
  -->
  <uses-permission android:name="android.permission.INTERNET" tools:node="remove" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" tools:node="remove" />
  <uses-feature
      android:name="android.hardware.nfc"
      android:required="true"
      tools:ignore="UnnecessaryRequiredFeature" />
  <!-- MRZのOCR読み取りに使用するが、カメラが無くても手入力で利用できる -->
  <uses-feature
      android:name="android.hardware.camera.any"
      android:required="false" />
  <application
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      tools:ignore="LockedOrientationActivity,DiscouragedApi">
    <!-- OCRモデルを初回利用時ではなくインストール時にダウンロードさせる -->
    <meta-data
        android:name="com.google.mlkit.vision.DEPENDENCIES"
        android:value="ocr" />
    <activity
        android:name=".MainActivity"
        android:screenOrientation="portrait"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
        android:name=".INMenuActivity"
        android:label="@string/in_menu"
        android:screenOrientation="portrait"
        android:exported="false">
    </activity>
    <activity
        android:name=".INReaderActivity"
        android:label="@string/in_reader"
        android:screenOrientation="portrait"
        android:exported="false">
    </activity>
    <activity
        android:name=".JPKICertSelectActivity"
        android:label="@string/show_cert"
        android:screenOrientation="portrait"
        android:exported="false">
    </activity>
    <activity
        android:name=".JPKICertReaderActivity"
        android:label="@string/show_cert"
        android:screenOrientation="portrait"
        android:exported="false">
    </activity>
    <activity
        android:name=".JPKISignActivity"
        android:label="@string/sign"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize"
        android:exported="false">
    </activity>
    <activity
        android:name=".PinStatusActivity"
        android:label="@string/pinstatus"
        android:screenOrientation="portrait"
        android:exported="false">
    </activity>
    <activity
        android:name=".INTestActivity"
        android:label="@string/in_test"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize"
        android:exported="false">
    </activity>
    <activity
        android:name=".DLReaderActivity"
        android:label="@string/dl_reader"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize"
        android:exported="false">
    </activity>
    <activity
        android:name=".INDLReaderActivity"
        android:label="@string/indl_reader"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize"
        android:exported="false">
    </activity>
    <activity
        android:name=".EPReaderActivity"
        android:label="@string/ep_reader"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize"
        android:exported="false">
    </activity>
    <activity
        android:name=".RCMenuActivity"
        android:label="@string/rc_menu"
        android:screenOrientation="portrait"
        android:exported="false">
    </activity>
    <activity
        android:name=".RCReaderActivity"
        android:label="@string/rc_reader"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize"
        android:exported="false">
    </activity>
    <activity
        android:name=".RC2ReaderActivity"
        android:label="@string/rc2_reader"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize"
        android:exported="false">
    </activity>
    <activity
        android:name=".RCSReaderActivity"
        android:label="@string/rcs_reader"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize"
        android:exported="false">
    </activity>
  </application>
</manifest>
